/******************************************
  Styles
******************************************/
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    #fff url('../../images/backgrounds/bg2.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  padding: calc(15%) 0 calc(15%);

  h2 {
    font-weight: 700;
  }

  @media (max-width: 768px) {
    background-attachment: inherit;
    background-size: cover;
    padding: calc(20%) 0 calc(20%);

    section {
      min-height: calc(100vh - 92px);
      padding: 3rem 0;
    }
  }
}
