/******************************************
  Theme Color
******************************************/
$base: #000000;
$lux: #e83e8c;
$jewel: #00bcd4;

$primary: $base;

/******************************************
  Color System
******************************************/
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #919aa1 !default;
$gray-700: #55595c !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #d9534f !default;
$orange: #fd7e14 !default;
$yellow: #f0ad4e !default;
$green: #4bbf73 !default;
$teal: #20c997 !default;
$cyan: #1f9bcf !default;

$primary: $black !default;

$secondary: $white !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $white !default;
$dark: $gray-800 !default;

$min-contrast-ratio: 2.3 !default;

/******************************************
  Options
******************************************/
$enable-rounded: false !default;
$link-decoration: none !default;

/******************************************
  Body
******************************************/
$body-color: $black !default;

/******************************************
  Tables
******************************************/
$table-border-color: rgba(0, 0, 0, 0.05) !default;

/******************************************
  Buttons + Forms
******************************************/
$input-btn-border-width: 0 !default;

/******************************************
  Buttons
******************************************/
$btn-line-height: 1.5rem !default;
$input-btn-padding-y: 0.75rem !default;
$input-btn-padding-x: 1.5rem !default;
$input-btn-padding-y-sm: 0.5rem !default;
$input-btn-padding-x-sm: 1rem !default;
$input-btn-padding-y-lg: 2rem !default;
$input-btn-padding-x-lg: 2rem !default;
$btn-font-weight: 600 !default;

/******************************************
Forms
******************************************/
$input-line-height: 1.5 !default;
$input-bg: $gray-200 !default;
$input-disabled-bg: $gray-300 !default;
$input-group-addon-bg: $gray-300 !default;

/******************************************
  Pagination
******************************************/
$pagination-border-color: transparent !default;
$pagination-hover-border-color: $pagination-border-color !default;
$pagination-disabled-border-color: $pagination-border-color !default;

/******************************************
Shades
******************************************/
$primary-100: tint-color($primary, 95%) !default;
